.img2{
    width: 100px;
}

.pera{
    margin-left: 115px;
    padding-top: 50px;
    
}
.img1{
    width: 450px;
}
.colpa{
    background-color: aquamarine;
    border-radius: 15px;
}
.reg{
    color: royalblue;
}

.input1{
    border-radius: 30px;
    border: 1px solid gray;
}



.btn1{
    background-image: linear-gradient(260deg,rgba(255, 105, 180, 0.712),rgba(255, 0, 128, 0.945));
    width: 330px;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login{
    background-color: teal;
}
.forget{
    color: blue;
    padding-left: 90px;
}